section.row.library.my-4
  section.col-12
    .name-feature.d-flex.align-items-center.border-bottom.border-secondary.pb-4
      h3.font-weight-bold.title_feature Th&#x1B0; vi&#x1EC7;n
  section.col-12.mt-5
    button.btn.bg-green-darner-tail.text-white.px-5.font-weight-bolder(type='button', data-toggle='modal', data-target='#new', aria-expanded='false', aria-controls='new')
      i.fas.fa-folder-plus
      | &#x9;&#x9;&#x9;&#x9;New
    #new.modal.fade(tabindex='-1', role='dialog', aria-labelledby='my-modal-title', aria-hidden='true')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content.rounded
          form(action="/myLibrary/create", method="post")
            .modal-header.bg-gray
              h5#my-modal-title.modal-title.d-flex.align-items-center
                i.fas.fa-folder-plus.mr-2
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Th&ecirc;m th&#x1B0; mu&#x323;c
              button.close(data-dismiss='modal', aria-label='Close')
                i.fas.fa-times
            .modal-body.mb-5
              .form-group
                input#form_new_folder-input.form-control(type='text', name="folderName", placeholder='Nhập Tên thư mục')
            .modal-footer.justify-content-between
              button.btn.bg-gray(data-dismiss='modal', aria-label='Close')
                | K&ecirc;&#x301;t thu&#x301;c
              button#save.btn.btn-primary(type='submit')
                | L&#x1B0;u
section#folder.row.library
  each val in folder
    section.popover-folder.col-xl-3.col-lg-4.col-sm-6.mb-4
      .folder-height.d-flex.align-items-center.justify-content-between.p-3.border.popover-folder-bg
        .d-flex.align-items-center
          i.far.fa-folder.mr-3(aria-hidden='true')
          p.mb-0.text-align-start.folder_text-ellipsis= val.list.content
        i.fas.fa-ellipsis-v.more
          .more-bg
      div
section.row.library_card.my-4
  -
    var values = [
      {imageLesson:'/st/images/60111.jpg',lessonTitle:'UX & Web Design Master Cource',author:'KhaLe',processLesson:25},
      {imageLesson:'/st/images/60111.jpg',lessonTitle:'UX & Web Design Master Cource',author:'KhaLe',processLesson:25},
      {imageLesson:'/st/images/60111.jpg',lessonTitle:'UX & Web Design Master Cource',author:'KhaLe',processLesson:25},
      {imageLesson:'/st/images/60111.jpg',lessonTitle:'UX & Web Design Master Cource',author:'KhaLe',processLesson:25},
      {imageLesson:'/st/images/60111.jpg',lessonTitle:'UX & Web Design Master Cource',author:'KhaLe',processLesson:25},
      {imageLesson:'/st/images/60111.jpg',lessonTitle:'UX & Web Design Master Cource',author:'KhaLe',processLesson:25},
      {imageLesson:'/st/images/60111.jpg',lessonTitle:'UX & Web Design Master Cource',author:'KhaLe',processLesson:25},
    ]
  each val in values
    .col-xl-3.col-lg-4.col-sm-6.mb-4
      #lessonCard.card.shadow
        img.card-img-top.w-100.library_card--height(src=val.imageLesson, alt='')
        .card-body
          h4.card-title= val.lessonTitle
          .d-flex.justify-content-between.align-items-center
            .d-flex.flex-column
              p.card-text.mb-0 Ta&#x301;c gia&#x309;
              h5.card-text= val.author
            div
              .process-bar
                .progress
                  .progress-bar(role='progressbar', style=`width: ${val.processLesson}%;`, aria-valuenow=`${val.processLesson}`, aria-valuemin='0', aria-valuemax='100')
              p.text-gray.mb-0.text-nowrap Ho&agrave;n th&agrave;nh (#{val.processLesson}%)
script(src='/st/javascripts/library.js')
